.header {
    background-color: #222222;
    padding: 1.5rem;

    &__container {
        max-width: 1200px;
        margin: 0 auto;
    }

    &__content {
        &__buttons {
            text-align: end;
            .button {
                margin-right: 1rem;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                transition: background-color 0.3s ease;

                &--outline-light {
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid #fff;
                }

                &--warning {
                    background-color: #ffc107;
                    color: #212529;
                    border: 1px solid #ffc107;
                }

                &:hover {
                    background-color: lighten(#f0f0f0, 10%);
                }
            }
        }
    }
}
